## Data Pre-processing

In [1]:
# Importing libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dict = pd.read_csv ('Data/Loans/data_dictionary.csv')
df = pd.read_csv('Data/Loans/train.csv')

In [3]:
dict.drop(columns =(['Unnamed: 0','Unnamed: 2']), inplace =True)

In [4]:
dict.head()

      Variable Name                                   Description
0          UniqueID                      Identifier for customers
1      loan_default  Payment default in the first EMI on due date
2  disbursed_amount                      Amount of Loan disbursed
3        asset_cost                             Cost of the Asset
4               ltv                    Loan to Value of the asset

In [5]:
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   UniqueID                             233154 non-null  int64
 1   disbursed_amount                     233154 non-null  int64
 2   asset_cost                           233154 non-null  int64
 3   ltv                                  233154 non-null  float64
 4   branch_id                            233154 non-null  int64
 5   supplier_id                          233154 non-null  int64
 6   manufacturer_id                      233154 non-null  int64
 7   Current_pincode_ID                   233154 non-null  int64
 8   Date.of.Birth                        233154 non-null  object
 9   Employment.Type                      225493 non-null  object
 10  DisbursalDate                        233154 non-null  object
 11  State_ID                             233154 non-null  int64
 12  Employee_code_ID                     233154 non-null  int64
 13  MobileNo_Avl_Flag                    233154 non-null  int64
 14  Aadhar_flag                          233154 non-null  int64
 15  PAN_flag                             233154 non-null  int64
 16  VoterID_flag                         233154 non-null  int64
 17  Driving_flag                         233154 non-null  int64
 18  Passport_flag                        233154 non-null  int64
 19  PERFORM_CNS.SCORE                    233154 non-null  int64
 20  PERFORM_CNS.SCORE.DESCRIPTION        233154 non-null  object
 21  PRI.NO.OF.ACCTS                      233154 non-null  int64
 22  PRI.ACTIVE.ACCTS                     233154 non-null  int64
 23  PRI.OVERDUE.ACCTS                    233154 non-null  int64
 24  PRI.CURRENT.BALANCE                  233154 non-null  int64
 25  PRI.SANCTIONED.AMOUNT                233154 non-null  int64
 26  PRI.DISBURSED.AMOUNT                 233154 non-null  int64
 27  SEC.NO.OF.ACCTS                      233154 non-null  int64
 28  SEC.ACTIVE.ACCTS                     233154 non-null  int64
 29  SEC.OVERDUE.ACCTS                    233154 non-null  int64
 30  SEC.CURRENT.BALANCE                  233154 non-null  int64
 31  SEC.SANCTIONED.AMOUNT                233154 non-null  int64
 32  SEC.DISBURSED.AMOUNT                 233154 non-null  int64
 33  PRIMARY.INSTAL.AMT                   233154 non-null  int64
 34  SEC.INSTAL.AMT                       233154 non-null  int64
 35  NEW.ACCTS.IN.LAST.SIX.MONTHS         233154 non-null  int64
 36  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  233154 non-null  int64
 37  AVERAGE.ACCT.AGE                     233154 non-null  object
 38  CREDIT.HISTORY.LENGTH                233154 non-null  object
 39  NO.OF_INQUIRIES                      233154 non-null  int64
 40  loan_default                         233154 non-null  int64
dtypes: float64(1), int64(34), object(6)
memory usage: 72.9+ MB

In [13]:
#dimension of data
df.shape

(233154, 41)

In [8]:
df.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date.of.Birth',
       'Employment.Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES',
       'loan_default'],
      dtype='object')

#### Handling missing values

In [ ]:
#columns with missing values 
col = []

for c in df.columns:
    if df[c].isna().sum() !=0:
        missing = df[c].isna().sum()
        col.append((c,missing))

In [ ]:
col

[('Employment.Type', 7661)]

In [ ]:
#Alterbatlivery
null = df.isna().sum()

#Filter null column
null_col = null[null>0]
null_col

Employment.Type    7661
dtype: int64

In [ ]:
df['Employment.Type'].value_counts()

Self employed    127635
Salaried          97858
Name: Employment.Type, dtype: int64

In [ ]:
#Find out how many unique categories of Employment type there are
df['Employment.Type'].nunique()

2

In [ ]:
#Display the types of employment
types_of_employment = df['Employment.Type'].unique()

print ('Employment types: ')
print(types_of_employment)

Employment types:
['Salaried' 'Self employed' nan]

Infering from the analysis above, the missing values in the Employment types column is nan, thus this accounts for the missing values as it means that the person is neither salaried nor self employed, we can therefore introduce the category *unemployed* to replace the missing values

In [14]:
#Filling the missing values as per the inference above....
df['Employment.Type'].fillna('Unemployed', inplace =True)

In [16]:
df['Employment.Type'].value_counts()

Self employed    127635
Salaried          97858
Unemployed         7661
Name: Employment.Type, dtype: int64

The missing values have been accounted for, there no missing values in the dataset

In [19]:
df.isna().sum()

UniqueID                               0
disbursed_amount                       0
asset_cost                             0
ltv                                    0
branch_id                              0
supplier_id                            0
manufacturer_id                        0
Current_pincode_ID                     0
Date.of.Birth                          0
Employment.Type                        0
DisbursalDate                          0
State_ID                               0
Employee_code_ID                       0
MobileNo_Avl_Flag                      0
Aadhar_flag                            0
PAN_flag                               0
VoterID_flag                           0
Driving_flag                           0
Passport_flag                          0
PERFORM_CNS.SCORE                      0
PERFORM_CNS.SCORE.DESCRIPTION          0
PRI.NO.OF.ACCTS                        0
PRI.ACTIVE.ACCTS                       0
PRI.OVERDUE.ACCTS                      0
PRI.CURRENT.BALANCE                    0
PRI.SANCTIONED.AMOUNT                  0
PRI.DISBURSED.AMOUNT                   0
SEC.NO.OF.ACCTS                        0
SEC.ACTIVE.ACCTS                       0
SEC.OVERDUE.ACCTS                      0
SEC.CURRENT.BALANCE                    0
SEC.SANCTIONED.AMOUNT                  0
SEC.DISBURSED.AMOUNT                   0
PRIMARY.INSTAL.AMT                     0
SEC.INSTAL.AMT                         0
NEW.ACCTS.IN.LAST.SIX.MONTHS           0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    0
AVERAGE.ACCT.AGE                       0
CREDIT.HISTORY.LENGTH                  0
NO.OF_INQUIRIES                        0
loan_default                           0
dtype: int64

#### Categorical features analysis
![Alt text](image.png)

Some attributes as categorical but are indicated as integer, so we convert them to categorical

In [22]:
cat_cols = df.select_dtypes( include = 'object').columns
cat_cols

Index(['Date.of.Birth', 'Employment.Type', 'DisbursalDate',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'AVERAGE.ACCT.AGE',
       'CREDIT.HISTORY.LENGTH'],
      dtype='object')

In [24]:
df.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date.of.Birth',
       'Employment.Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES',
       'loan_default'],
      dtype='object')

In [30]:
# Identifier columns
IDs = ['UniqueID','branch_id', 'supplier_id','manufacturer_id','Current_pincode_ID','State_ID','Employee_code_ID','VoterID_flag']

#Dataframe to store unique values
unique_df = pd.DataFrame(columns = ['Column','Unique_Values'])

#Count unque values in each identifier columns
for cols in IDs:
    unique_count =df[cols].nunique()
    unique_df =unique_df.append({'Column': cols,
                                 'Unique_Values':unique_count},
                                ignore_index =True)
    
# Display the df with unique values
print(unique_df)

               Column Unique_Values
0            UniqueID        233154
1           branch_id            82
2         supplier_id          2953
3     manufacturer_id            11
4  Current_pincode_ID          6698
5            State_ID            22
6    Employee_code_ID          3270
7        VoterID_flag             2

C:\Users\gitom\AppData\Local\Temp\ipykernel_13864\1171081464.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_df =unique_df.append({'Column': cols,
C:\Users\gitom\AppData\Local\Temp\ipykernel_13864\1171081464.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_df =unique_df.append({'Column': cols,
C:\Users\gitom\AppData\Local\Temp\ipykernel_13864\1171081464.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_df =unique_df.append({'Column': cols,
C:\Users\gitom\AppData\Local\Temp\ipykernel_13864\1171081464.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_df =unique_df.append({'Column': cols,
C:\Users\gitom\AppData\Local\Temp\ipykernel_13864\1171081464.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_df =unique_df.append({'Column': cols,
C:\Users\gitom\AppData\Local\Temp\ipykernel_13864\1171081464.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_df =unique_df.append({'Column': cols,
C:\Users\gitom\AppData\Local\Temp\ipykernel_13864\1171081464.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_df =unique_df.append({'Column': cols,
C:\Users\gitom\AppData\Local\Temp\ipykernel_13864\1171081464.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_df =unique_df.append({'Column': cols,

#### Numerical features analysis

In [ ]:
df.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date.of.Birth',
       'Employment.Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES',
       'loan_default'],
      dtype='object')

In [ ]:
#Numeric columns of interest
numeric_cols = ['disbursed_amount','asset_cost','ltv',]

In [ ]:
df.describe().round().T

,count,mean,std,min,25%,50%,75%,max
UniqueID,233154.0,535918.0,68316.0,417428.0,476786.0,535978.0,595040.0,6.710840e+05
disbursed_amount,233154.0,54357.0,12971.0,13320.0,47145.0,53803.0,60413.0,9.905720e+05
asset_cost,233154.0,75865.0,18945.0,37000.0,65717.0,70946.0,79202.0,1.628992e+06
ltv,233154.0,75.0,11.0,10.0,69.0,77.0,84.0,9.500000e+01
branch_id,233154.0,73.0,70.0,1.0,14.0,61.0,130.0,2.610000e+02
supplier_id,233154.0,19639.0,3492.0,10524.0,16535.0,20333.0,23000.0,2.480300e+04
manufacturer_id,233154.0,69.0,22.0,45.0,48.0,86.0,86.0,1.560000e+02
Current_pincode_ID,233154.0,3397.0,2238.0,1.0,1511.0,2970.0,5677.0,7.345000e+03
State_ID,233154.0,7.0,4.0,1.0,4.0,6.0,10.0,2.200000e+01
Employee_code_ID,233154.0,1549.0,975.0,1.0,713.0,1451.0,2362.0,3.795000e+03
MobileNo_Avl_Flag,233154.0,1.0,0.0,1.0,1.0,1.0,1.0,1.000000e+00
Aadhar_flag,233154.0,1.0,0.0,0.0,1.0,1.0,1.0,1.000000e+00
PAN_flag,233154.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000e+00
VoterID_flag,233154.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000e+00
Driving_flag,233154.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000e+00
Passport_flag,233154.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000e+00
PERFORM_CNS.SCORE,233154.0,289.0,338.0,0.0,0.0,0.0,678.0,8.900000e+02
PRI.NO.OF.ACCTS,233154.0,2.0,5.0,0.0,0.0,0.0,3.0,4.530000e+02
PRI.ACTIVE.ACCTS,233154.0,1.0,2.0,0.0,0.0,0.0,1.0,1.440000e+02
PRI.OVERDUE.ACCTS,233154.0,0.0,1.0,0.0,0.0,0.0,0.0,2.500000e+01
PRI.CURRENT.BALANCE,233154.0,165900.0,942274.0,-6678296.0,0.0,0.0,35006.0,9.652492e+07
PRI.SANCTIONED.AMOUNT,233154.0,218504.0,2374794.0,0.0,0.0,0.0,62500.0,1.000000e+09
PRI.DISBURSED.AMOUNT,233154.0,218066.0,2377744.0,0.0,0.0,0.0,60800.0,1.000000e+09
SEC.NO.OF.ACCTS,233154.0,0.0,1.0,0.0,0.0,0.0,0.0,5.200000e+01
SEC.ACTIVE.ACCTS,233154.0,0.0,0.0,0.0,0.0,0.0,0.0,3.600000e+01
SEC.OVERDUE.ACCTS,233154.0,0.0,0.0,0.0,0.0,0.0,0.0,8.000000e+00
SEC.CURRENT.BALANCE,233154.0,5428.0,170237.0,-574647.0,0.0,0.0,0.0,3.603285e+07
SEC.SANCTIONED.AMOUNT,233154.0,7296.0,183156.0,0.0,0.0,0.0,0.0,3.000000e+07
SEC.DISBURSED.AMOUNT,233154.0,7180.0,182593.0,0.0,0.0,0.0,0.0,3.000000e+07
PRIMARY.INSTAL.AMT,233154.0,13105.0,151368.0,0.0,0.0,0.0,1999.0,2.564281e+07
SEC.INSTAL.AMT,233154.0,323.0,15554.0,0.0,0.0,0.0,0.0,4.170901e+06
NEW.ACCTS.IN.LAST.SIX.MONTHS,233154.0,0.0,1.0,0.0,0.0,0.0,0.0,3.500000e+01
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,233154.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000000e+01
NO.OF_INQUIRIES,233154.0,0.0,1.0,0.0,0.0,0.0,0.0,3.600000e+01
loan_default,233154.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000e+00